@import '@src/styles/colors.scss';

.cross {
  display: inline-block;
  width: 20px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  transition: transform 150ms ease;
  &::before,
  &::after {
    position: absolute;
    content: '';
    width: 130%;
    height: 2px;
    left: 50%;
    top: 50%;
    background: $marine;
  }
  &:before {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
